<!--
It is assumed that the user is logged in any time this component is visible,
because it is being protected by a route guard.
-->

<mat-toolbar color="primary">

    <a mat-button routerLink="/welcome"><h1>BagIt</h1></a>

    <span class="flex-item-dynamic"></span>

    <mat-icon *ngIf="(isConnected$ | async)" class="flex-item-static">cloud</mat-icon>
    <mat-icon *ngIf="!(isConnected$ | async)" class="flex-item-static">cloud_off</mat-icon>

    <span>
        <button mat-button [matMenuTriggerFor]="appMenu">
            <img
                *ngIf="(currentUser$ | async) as firebaseUser" src="{{firebaseUser.photoURL}}"
                class="avatar-thumbnail"
            />
            <!--
            <span *ngIf="(currentUser$ | async) as firebaseUser">
                {{firebaseUser.displayName}}
            </span>
            -->
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </span>
</mat-toolbar>

<!--
The menu that will be displayed by the above toolbar button.
-->
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
    </button>
</mat-menu>
